@{
    ViewBag.Title = "Home";
}

<div id="homeHeader">
    <h1>Travel Reviews: A website that reviews travel locations!</h1>
    <h5> What will you find on this site, and why you should be excited about our product!</h5>
    <p>Sed non imperdiet sapien, at tempus magna. Ut rhoncus dolor ac libero hendrerit tincidunt. Ut eu malesuada eros, in condimentum urna. Nunc tristique malesuada elit, nec vehicula dui placerat vitae. Pellentesque tempus rhoncus facilisis. Nulla hendrerit, augue ut finibus egestas, lacus tortor venenatis nisi, ut pharetra augue mi et felis. Curabitur tempus metus non commodo tincidunt. Fusce non dignissim massa, a sagittis dolor. Mauris tincidunt porta diam, in aliquam est tincidunt sit amet. Curabitur vestibulum ullamcorper lorem a fringilla.</p>
</div>



<div id="homepage">
    <div class="row">
        <div class="col-md-4">

            <h3>Typical Travel Locations!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis risus a ante fringilla semper id ac lacus. Donec finibus, mauris sit amet dignissim volutpat, augue tellus dictum lorem, at porttitor turpis diam ut risus. Nam ante lacus, cursus nec eros vitae, semper auctor dolor. Praesent blandit, quam quis pretium fringilla, nisi arcu efficitur est, sed malesuada nisi dui et ante. Nulla in leo non sapien facilisis faucibus. Quisque vulputate in leo sit amet finibus. Aenean ac ligula sit amet ipsum hendrerit tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis risus a ante fringilla semper id ac lacus.Lorem ipsum dolor sit amet, consectetur 
            </p>
            <p><a class="btn btn-default" href="http://www.huffingtonpost.com/inga-batur/5-reasons-why-you-shouldnt-travel_b_5357489.html5">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3> Oh, the places you probably shouldn't go (to)!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis risus a ante fringilla semper id ac lacus. Donec finibus, mauris sit amet dignissim volutpat, augue tellus dictum lorem, at porttitor turpis diam ut risus. Nam ante lacus, cursus nec eros vitae, semper auctor dolor. Praesent blandit, quam quis pretium fringilla, nisi arcu efficitur est, sed malesuada nisi dui et ante. Nulla in leo non sapien facilisis faucibus. Quisque vulputate in leo sit amet finibus. Aenean ac ligula sit amet ipsum hendrerit tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis risus a ante
            </p>
            <p><a class="btn btn-default" href="http://traveltips.usatoday.com/effects-tourism-caribbean-63368.html">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h3>Why would you want to leave your comfortable home? Maybe for the below reasons?!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis risus a ante fringilla semper id ac lacus. Donec finibus, mauris sit amet dignissim volutpat, augue tellus dictum lorem, at porttitor turpis diam ut risus. Nam ante lacus, cursus nec eros vitae, semper auctor dolor. Praesent blandit, quam quis pretium fringilla, nisi arcu efficitur est, sed malesuada nisi dui et ante. Nulla in leo non sapien facilisis faucibus. Quisque vulputate in leo sit amet finibus. Aenean ac ligula sit amet ipsum hendrerit tincidunt.
            </p>
            <p><a class="btn btn-default" href="http://www.miamiherald.com/news/business/tourism-cruises/article100848577.html">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

